<div style="text-align: center; margin-top: 3px">
    <h4>L’entreprise groupe ADP (Aéroports de Paris) doit-elle être privatisée ou rester - mieux qu’aujourd’hui - un bien commun, une propriété publique ?</h4>
    <h5 style="margin-top: 4px">
        <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/soutien/etape-1">Avec ce clic</a>,
        vous donnerez aux Français la possibilité d'en décider démocratiquement, par référendum.
    </h5>
</div>
<div style="text-align: justify"> 
<p>ADP,<a rel="nofollow noopener noreferrer" target="_blank" href="https://www.liberation.fr/checknews/2019/04/18/le-role-d-adp-se-limite-t-il-comme-le-dit-le-gouvernement-a-la-gestion-de-boutiques-commerciales_1721468"> ce n’est pas seulement des magasins Duty Free</a> et des pistes d’envol ; ce sont en plus <b>d’immenses terrains totalisant 6 700 hectares</b> soit l’équivalent de ⅔ de la surface de la Ville de Paris sur lesquels l’acheteur privé pourrait, hélas, construire des milliers de bâtiments. </p>
<p>Ce serait la <b>plus grosse privatisation française de l’histoire</b> - la troisième au monde, et aucune privatisation d’aéroport au monde n’a jamais inclus tant de milliers d’hectares constructibles n’ayant rien à voir avec l’activité d’un aéroport. </p>
<p><b>L’enjeu est directement et d’abord écologique</b>, la lutte contre le réchauffement climatique est une urgence vitale : 
<ul>
    <li>Nous voulons pouvoir faire le choix de planifier nos transports et de limiter par exemple les vols intérieurs quand ils sont substituables en train, ce que la privatisation rendra presque impossible.</li>
    <li>Nous voulons être les acteurs d'un engagement écologique pour empêcher la bétonisation de ces milliers d’hectares et y développer des forêts, des arbres et tout autre aménagement respectueux de l'environnement.</li>
</ul>
</p>
<p><b>L’enjeu est stratégique pour le tourisme en France</b>, pour la survie d’une compagnie historique Air France, pour les Français d’outre-mer et de l’étranger afin de garder des vols directs vers la France métropolitaine. Si l’entreprise qui achète ADP possède aussi l’aéroport d’Amsterdam, elle pourra décider de transférer vers celle-ci une grande partie, voire la totalité de ses vols transcontinentaux.</p>
<p><b>L’enjeu est économique</b>, car ADP rapporte aux Français près de <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.liberation.fr/amphtml/checknews/2019/08/28/combien-de-dividendes-adp-a-t-il-verse-a-l-etat-actionnaire-ces-dernieres-annees_1745117"> 200 millions d’euros de dividendes chaque année</a>. Ces recettes, en parties payées par les étrangers et les Français usagers de l’avion, seraient désormais imposées à tous les contribuables français, dont la majorité ne prend pas l’avion. Les actionnaires minoritaires actuels seront également <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.liberation.fr/debats/2019/03/04/privatisation-d-adp-a-qui-profitera-le-crime_1712979">indemnisés financièrement à hauteur d'un milliard d'euros</a> au total.</p>
<p><b>L’enjeu est démocratique et constitutionnel</b>, l’occasion nous est donnée d’exercer notre droit de décider, de reprendre ou perdre le contrôle d’un bien commun.
C'est aux citoyens de se mobiliser pour répondre à ces enjeux essentiels et décider du sort d'Aéroports de Paris.
De plus, privatiser est aussi probablement <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.youtube.com/watch?v=rpR7KJKqtR4">anti-constitutionnel</a>
</div>
<br/>
<hr/>
<div style="text-align: center">
<p><b> Signez, et partagez ce texte autour de vous ! </b><br />
<b> Rendez-vous sur <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/soutien/etape-1">le site officiel</a> pour apporter votre soutien, sous contrôle du Conseil Constitutionnel.</b></p>
</div>
<hr/>
<br/><br/>
<p>Et si vous rencontrez des difficultés pour signer, pas d'inquiétude ! Voici quelques conseils :</p>
<ul class='fa-ul'>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Pas de virgule entre vos prénoms, juste un espace.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Majuscule aux prénoms.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Ne renseignez pas de code postal, renseignez directement le nom votre ville (de vote puis de naissance) en toutes lettres. Le site vous proposera des villes juste en dessous, cliquez sur le choix qui vous correspond.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Recopiez les informations d'état civil présentes sur votre dernière carte électorale.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Utilisez uniquement votre nom de naissance.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>En cas d'erreur 404 ou de page « maintenance », réactualisez.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>En cas d'erreur ou de diffculté avec le code de vérification, cliquez sur « Autre image » et persévérez.</li>
    <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Enregistrez précieusement et n'égarez pas votre récépissé, il pourra être utile plus tard (pour savoir si votre soutien <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/consultation_recepisse">a bien été accepté</a>, faire une <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/contenu/reclamations">réclamation</a> ou un <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.referendum.interieur.gouv.fr/contenu/recours">recours</a>) !</li>
</ul>


Vous pouvez également vous rendre dans une des mairies des communes les plus peuplées de votre canton, présentes sur la <a rel="nofollow noopener noreferrer" target="_blank" href="https://www.adprip.fr/map.html?mairies=1&amp;actions=0">carte adprip.fr</a> pour déposer un soutien papier (cliquez sur les cercles bleus). Le CERFA correspondant et pouvant être complété sur ordinateur avant impression est disponible <a href="https://demarchesadministratives.fr/formulaires/apercu/1469">ici</a>.
<br/><br/><br/>
